<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homelearnersguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeLearnersGuide"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddPdf"></activity>
        <activity android:name=".GLClassList" />
        <activity android:name=".CreateGoogleLink" />
        <activity android:name=".FbList" />
        <activity android:name=".FbClassList" />
        <activity android:name=".CreateFbList" />
        <activity android:name=".StudentInfoView" />
        <activity android:name=".TeacherInfoView" />
        <activity android:name=".formteacher" />
        <activity android:name=".addteacher" />
        <activity android:name=".addselect" />
        <activity android:name=".adminConnect" />
        <activity android:name=".admin" />
        <activity android:name=".adduser" />
        <activity android:name=".class_year" />
        <activity android:name=".fb_year" />
        <activity android:name=".Message" />
        <activity android:name=".Orientation" />
        <activity android:name=".LearningSystem" />
        <activity android:name=".Connect" />
        <activity android:name=".Home" />
        <activity android:name=".Form" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>